<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">

  <title>d4x337 Blog</title>
  <meta name="description" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Mobile Devices Viewport Resset-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <!--[if IE 8]>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome-ie7.min.css">
  <![endif]-->

  <link rel="stylesheet" href="/prettyPhoto/css/prettyPhoto.css">

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif' rel='stylesheet' type='text/css'>

  <!-- base layout styling -->
  <link rel="stylesheet" href="/css/base.css">

  <!-- components styling -->
  <link rel="stylesheet" href="/css/components.css">

  <!-- template colorschemes -->
  <link rel="stylesheet" href="/colorschemes/dark.css">

  <script src="modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>

<h1 class="sr-only">d4x337 Blog</h1>

<nav id="header" class="header-navbar" role="navigation">

  <div class="header-navbar-inner container">

    <div id="brand" class="navbar-brand">
      <a href="index.html" rel="bookmark">

        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/img/dark-logo.png" data-src="/img/dark-logo.png" data-src-retina="/img/logo-retina.png" width="244" height="56" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="/img/dark-logo.png" alt="">
        </noscript>
      </a>
    </div>


    <ul class="nav nav-pages hidden-xs">
      <p font-style="italic">#QOTD "Le soluzioni semplici sono spesso le migliori" - Franz</p>
    </ul>

    <ul class="nav nav-icons">
      <li>
        <a href="#" class="btn-icon" data-toggle=".header-navbar-inner" data-toggle-class="search-toggled-in">
          <span class="search-toggled-out-icon glyphicon glyphicon-search"></span>
          <span class="search-toggled-in-icon glyphicon glyphicon-remove"></span>
        </a>
      </li>
    </ul>

    <div class="search-wrapper js-stoppropagation">
      <div class="search-wrapper-inner">
        <form>
          <input type="text" value="" placeholder="search ... ">
          <button class="btn-icon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
    </div>

    <ul class="nav navbar-nav">
      <li class="nav-all pull-right full-subnav-wrapper active">

        <a href="#" data-toggle="li">
          <span class="text">All Categories</span>
          <span class="toggle glyphicon glyphicon-align-justify"></span>
        </a>

        <div class="row subnav-wrapper">

          <div class="col-md-2 col-sm-2 bg-bar">
            <strong class="subnav-header">Pages</strong>
            <ul class="subnav-full">
              <li><a href="index.html">Blog 3 Columns</a></li>
              <li class="active"><a href="index.html">Blog 2 Columns</a></li>
              <li><a href="blog-grids.html">Blog Grids</a></li>
              <li><a href="reviews.html">Reviews Archive</a></li>
              <li><a href="single.html">Single Blog</a></li>
              <li><a href="single-full.html">Single Blog (Full)</a></li>
              <li><a href="components.html">Components</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">Colorschemes</strong>
            <ul class="subnav-full">
              <li><a href="../html/">Coolorize</a></li>
              <li><a href="../html-dark/">Dark</a></li>
              <li><a href="../html-light/">Light</a></li>
              <li><a href="#">Amet Commodo</a></li>
              <li><a href="#">Consectetur </a></li>
              <li><a href="#">Adipisicing</a></li>
              <li><a href="#">Duis aute </a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">Banner Placements</strong>
            <ul class="subnav-full">
              <li><a href="banner-index.html">Home</a></li>
              <li><a href="banner-single.html">Single</a></li>
              <li><a href="#">Ipsum  Nisi </a></li>
              <li><a href="#">Dolor Aliquip</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">Category</strong>
            <ul class="subnav-full">
              <li><a href="#">Ipsum  Nisi </a></li>
              <li><a href="#">Dolor Aliquip</a></li>
              <li><a href="#">Amet Commodo</a></li>
              <li><a href="#">Consectetur </a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">Category</strong>
            <ul class="subnav-full">
              <li><a href="#">Consectetur </a></li>
              <li><a href="#">Adipisicing</a></li>
              <li><a href="#">Ipsum  Nisi </a></li>
              <li><a href="#">Dolor Aliquip</a></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">Category</strong>
            <ul class="subnav-full">
              <li><a href="#">Ipsum  Nisi </a></li>
              <li><a href="#">Dolor Aliquip</a></li>
              <li><a href="#">Amet Commodo</a></li>
              <li><a href="#">Consectetur </a></li>
            </ul>
          </div>

        </div>
      </li>
      <li class="active">
        <a href="#" data-toggle="li">Bio</a>
        <div class="subnav-wrapper">
          <ul class="subnav">
            <li><a href="index.html">Blog 3 Columns</a></li>
            <li class="active"><a href="index.html">Blog 2 Columns</a></li>
            <li><a href="blog-grids.html">Blog Grids</a></li>
            <li><a href="reviews.html">Reviews Archive</a></li>
            <li><a href="single.html">Single Blog</a></li>
            <li><a href="single-full.html">Single Blog (Full)</a></li>
            <li><a href="components.html">Components</a></li>
            <li>
              <a href="#" data-toggle="li">Colorshemes</a>
              <div class="subnav-wrapper">
                <ul class="subnav">
                  <li><a href="../html/">Coolorize</a></li>
                  <li><a href="../html-dark/">Dark</a></li>
                  <li><a href="../html-light/">Light</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" data-toggle="li">Banner Placements</a>
              <div class="subnav-wrapper">
                <ul class="subnav">
                  <li><a href="banner-index.html">Home</a></li>
                  <li><a href="banner-single.html">Single</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="full-subnav-wrapper">
        <a href="#" data-toggle="li">Consulting</a>

        <div class="row subnav-wrapper subnav-tabbed">

          <ul class="col-md-2 col-sm-2 subnav-tabbed-tabs alignright">

            <li class="active"><a href="#tabAll">All </a></li>
            <li><a href="#tabNotebook">Notebook</a></li>
            <li><a href="#tabSmartphone">Smartphone</a></li>

          </ul>

          <div class="col-md-10 col-sm-10 subnav-tabbed-panels">

            <div id="tabAll" class="subnav-tabbed-panel active">
              <%= yield %>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

            </div>
            <div id="tabNotebook" class="subnav-tabbed-panel">

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>


              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>


              </article>

            </div>
            <div id="tabSmartphone" class="subnav-tabbed-panel">

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

              <article class="entry type-post style-thumbnail col-sm-3 col-md-3">

                <figure class="entry-thumbnail">
                  <a href="single.html">
                    <!-- to disable lazy loading, remove data-src and data-src-retina -->
                    <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" alt="">

                    <!--fallback for no javascript browsers-->
                    <noscript>
                      <img src="http://placehold.it/230x230" alt="">
                    </noscript>
                  </a>
                </figure>

                <h3 class="entry-title"><a href="single.html">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a> </h3>

              </article>

            </div>

          </div>

        </div>

      </li>
      <li>
        <a href="#" data-toggle="li">Projects</a>

        <div class="subnav-wrapper">
          <ul class="subnav-entries">
            <li><a href="#">Tortuga</a></li>
            <li><a href="#">Agadanga</a></li>
            <li><a href="#">dBlog</a></li>
            <li><a href="#">Wit</a></li>
          </ul>
        </div>

      </li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>

  </div>

</nav>

<div id="main" class="container">

  <div class="section row entries bg-primary section-no-margin-bottom">

    <article class="entry style-grid style-hero hero-sm-largest type-post col-sm-12 col-md-6 colheight-sm-1 colheight-md-2 colheight-lg-2 colheight-xl-2">

      <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
        <a href="index.html">Bio</a>
      </div>

      <header class="entry-header">
        <h3 class="entry-title"><a href="single.html">Davide Gonnella</a> </h3>
        <div class="entry-meta">
          <span class="entry-date"><a href="index.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
          <span class="entry-author"> by <a href="index.html">Davide Gonnella</a></span>
        </div>
      </header>

      <figure class="entry-thumbnail">

        <a href="single.html" class="overlay overlay-primary"></a>

        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/img/IMG_0628.JPG" width="680" height="452" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="http://placehold.it/680x452" alt="">
        </noscript>

      </figure>

    </article>

    <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">

      <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
        <a href="">Hacking</a>
      </div>

      <header class="entry-header">
        <h3 class="entry-title"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a> </h3>
        <div class="entry-meta">
          <span class="entry-date"><a href="index.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
          <span class="entry-author"> by <a href="index.html">Davide Gonnella</a></span>
        </div>
      </header>

      <figure class="entry-thumbnail">

        <a href="single.html" class="overlay overlay-primary"></a>

        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/img/lifestyle.png" data-src="http://placehold.it/480x280" data-src-retina="http://placehold.it/720x420" width="480" height="280" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="/img/lifestyle.png" alt="">
        </noscript>

      </figure>

    </article>

    <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">

      <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
        <a href="index.html">Philosophy</a>
      </div>

      <header class="entry-header">
        <h3 class="entry-title"><a href="single.html">Rumor: The long awaited update for Retina Display is ready to be annaunced on the next event held by them</a> </h3>
        <div class="entry-meta">
          <span class="entry-date"><a href="index.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
          <span class="entry-author"> by <a href="index.html">Davide Gonnella</a></span>
        </div>
      </header>

      <figure class="entry-thumbnail">

        <a href="single.html" class="overlay overlay-primary"></a>

        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/img/placeholder.gif" data-src="http://placehold.it/680x452" data-src-retina="http://placehold.it/1024x680" width="680" height="452" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="http://placehold.it/680x452" alt="">
        </noscript>

      </figure>

    </article>

    <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">

      <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
        <a href="index.html">Information Security</a>
      </div>

      <header class="entry-header">
        <div class="entry-meta">
          <span class="entry-author"> by <a href="index.html">Davide Gonnella</a></span>
        </div>
      </header>

      <figure class="entry-thumbnail">

        <a href="single.html" class="overlay overlay-primary"></a>

        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/img/its.JPG"  width="480" height="280" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="/img/its.JPG" alt="">
          <img src="/img/its.JPG" alt="">
        </noscript>

      </figure>

    </article>

    <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">

      <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
        <a href="index.html">Music & Lifestyle</a>
      </div>

      <header class="entry-header">
      </header>

      <figure class="entry-thumbnail">

        <a href="single.html" class="overlay overlay-primary"></a>

        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/img/lifestyle.png" width="480" height="280" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="http://placehold.it/480x280" alt="">
        </noscript>

      </figure>

    </article>

  </div>

  <div id="content" class="content section row">

    <div class="col-md-8 bg-base col-lg-8 col-xl-9">

      <div class="ribbon ribbon-highlight">
        <ol class="breadcrumb ribbon-inner">
          <li><a href="#">Blog</a></li>
        </ol>
      </div>

      <div class="entries">

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

        <article class="entry style-media media type-post">

          <figure class="media-object pull-left entry-thumbnail hidden-xs">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/230x230" data-src-retina="http://placehold.it/460x460" width="230" height="230" class="" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/230x230" alt="">
            </noscript>

          </figure>

          <div class="media-body">

            <header class="entry-header">
              <h3 class="entry-title">
                <a href="single.html" rel="bookmark">Sunt in culpa qui officia deserunt mollit anim.</a>
              </h3>

              <div class="entry-meta">
                <span class="author">by <a href="index.html">Davide Gonnella</a></span>
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Entertaintment</a></span>
              </div>
            </header>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <a href="single.html" class="more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
            </p>

          </div>

        </article>

      </div><!--/.entris-->

      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><span>3</span></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">5</a></li>
        <li><span> ... </span></li>
        <li><a href="#">1234</a></li>
        <li><a href="#">1235</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>

    </div><!--/.col-md-8.col-lg-8.col-xl-9-->

    <div class="sidebar col-md-4 col-lg-4 col-xl-3">

      <aside class="widget">

        <h2 class="widget-title ribbon"><span>Recent Posts</span></h2>

        <div class="entries row">

          <article class="type-post style-media-list media col-sm-6 col-md-12">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/80x80" alt="">
            </noscript>

            <div class="media-body">
              <h3  class="entry-title">
                <a href="single.html" rel="bookmark">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
              </h3>
              <div class="entry-meta">
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Technology</a></span>
              </div>
            </div>

          </article>

          <article class="type-post style-media-list media col-sm-6 col-md-12">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/80x80" alt="">
            </noscript>

            <div class="media-body">
              <h3  class="entry-title">
                <a href="single.html" rel="bookmark">Duis aute irure dolor in reprehenderit in voluptate velit esse.</a>
              </h3>
              <div class="entry-meta">
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Technology</a></span>
              </div>
            </div>

          </article>

          <article class="type-post style-media-list media col-sm-6 col-md-12">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/80x80" alt="">
            </noscript>

            <div class="media-body">
              <h3  class="entry-title">
                <a href="single.html" rel="bookmark">Excepteur sint occaecat cupidatat non proident.</a>
              </h3>
              <div class="entry-meta">
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Technology</a></span>
              </div>
            </div>

          </article>



        </div>

      </aside><!--/.widget-->

      <aside class="widget">

        <h2 class="widget-title ribbon"><span>What's Hot</span></h2>

        <div class="entries row">

          <article class="type-post style-media-list media col-sm-6 col-md-12">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/80x80" alt="">
            </noscript>

            <div class="media-body">
              <h3  class="entry-title">
                <a href="single.html" rel="bookmark">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
              </h3>
              <div class="entry-meta">
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Technology</a></span>
              </div>
            </div>

          </article>

          <article class="type-post style-media-list media col-sm-6 col-md-12">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/80x80" alt="">
            </noscript>

            <div class="media-body">
              <h3  class="entry-title">
                <a href="single.html" rel="bookmark">Duis aute irure dolor in reprehenderit in voluptate velit esse.</a>
              </h3>
              <div class="entry-meta">
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Technology</a></span>
              </div>
            </div>

          </article>

          <article class="type-post style-media-list media col-sm-6 col-md-12">

            <!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="/img/placeholder.gif" data-src="http://placehold.it/80x80" data-src-retina="http://placehold.it/160x160" width="80" height="80" class="media-object pull-left" alt="">

            <!--fallback for no javascript browsers-->
            <noscript>
              <img src="http://placehold.it/80x80" alt="">
            </noscript>

            <div class="media-body">
              <h3  class="entry-title">
                <a href="single.html" rel="bookmark">Excepteur sint occaecat cupidatat non proident.</a>
              </h3>
              <div class="entry-meta">
                <span class="entry-date"><a href="index.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
                <span class="category">In <a href="index.html">Technology</a></span>
              </div>
            </div>

          </article>


        </div>

      </aside><!--/.widget-->

      <aside class="widget">

        <h3 class="widget-title ribbon"><span>Tags</span></h3>

        <div class="tagcloud">
          <a href="#">Some</a>
          <a href="#">Tag</a>
          <a href="#">Goes</a>
          <a href="#">Here</a>
          <a href="#">Utempor</a>
          <a href="#">Incididunt</a>
          <a href="#">Labore</a>
          <a href="#">Dolore</a>
          <a href="#">Magna</a>
          <a href="#">Aliqua</a>
          <a href="#">Seddo</a>
          <a href="#">Siusmod</a>
          <a href="#">Tempor</a>
          <a href="#">Incididunt</a>
          <a href="#">Ut labore</a>
          <a href="#">Et dolore </a>
          <a href="#">Magna </a>
          <a href="#">Aliqua</a>
        </div>

      </aside><!--/.widget-->

    </div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

  </div><!--/#content-->



</div><!--#main.container-->

<footer id="footer" class="footer-area">

  <div class="footer-top container">

    <div class="row">

      <div class="widget col-xs-12 col-sm-4">


      </div><!--/.col-3-->

      <div class="clearfix visible-xs"></div>

      <div class="widget col-xs-6 col-sm-2">

        <h4 class="widget-title">Information</h4>

        <ul class="entries links links">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>

      </div><!--/.col-3-->

      <div class="widget col-xs-6 col-sm-2">

        <h4 class="widget-title">Follow</h4>

        <ul class="entries links">
          <li><a href="https://facebook.com/d4x337"><i class="icon-facebook-sign icon-2x"></i> Facebook</a></li>
          <li><a href="https://twitter.com/d4x337"><i class="icon-twitter-sign icon-2x"></i> Twitter</a></li>
          <li><a href="https://linkedin.com/in/d4x337"><i class="icon-linkedin-sign icon-2x"></i> Linkedin</a></li>
        </ul>

      </div><!--/.col-3-->

      <div class="clearfix visible-xs"></div>

      <div class="widget col-xs-12 col-sm-4">


      </div><!--/.col-3-->

    </div><!--row.-->

  </div>

  <div class="footer-bottom">

    <div class="container aligncenter">

      <p>&copy;2017 by <a href="http://coolorize.com">Davide Gonnella</a>. All Rights Reserved. <p>

    </div>

  </div>

</footer>

<script src="jquery-1.10.1.min.js"></script>
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../vendor/jquery-1.10.1.min.js"><\/script>')</script>
-->

<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="prettyPhoto/jquery.prettyPhoto.js"></script>


<script src="jquery.unveil.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>