<% @title = d4x_sanitizer(t('timeline')) %>
<script language="JavaScript">
    $( document ).ready(function() {
        $('#main-menu-home').removeClass("navigation__active").addClass("navigation__sub");
        $('#main-menu-social').addClass("navigation__sub--active navigation__sub--toggled");
        $('#menu-close-account').removeClass("navigation__sub").addClass("navigation__active");
    });
</script>
<h4 class="card-title lightlime"><i class="zmdi zmdi-inbox lightlime"></i>&nbsp;&nbsp;&nbsp;Closing Account</h4>
<h6 class="card-subtitle">The account will be deleted with no restore option. Caution.</h6>
<h3 class="white">We really hate to see you leaving!</h3>
<br />
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <%= link_to 'Ok, I stay in','/' , :confirm => "Are you sure?", :method => :delete,:class=>'btn btn-outline-success btn-block' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <%= link_to t('close my account'), registration_path(current_user), :confirm => "Are you sure?", :method => :delete,:class=>'btn btn-outline-danger btn-block' %>
  </div>
</div>

