<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<title>Reloaded</title>
	</head>
	<body>
	    <div id="wrapper-mailer" align="center">
		    <div id="content-mailer" align="left">
				<br><br>		
				Congratulations <%= @target.nickname %>,
				<br>		
				You have a new connection!<br /> 
				<%= @sender.nickname %> has just added you.
				<br>
				<br>
				Best Regards,
				<br>
				Reloaded Staff
				<br>
			</div>
		</div>
	</body>
</html>
