<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @target.target_name %></h1>
 
    <p>
      To read your message just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using our service.</p>
  </body>
</html>