var delimiter =
        $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
$('#my-posts').append(delimiter);
$('#my-posts').append('<%= j render @iposts %>');
$('.pagination').replaceWith('<%= j will_paginate @iposts %>');
preparePagination(delimiter);
<% unless @iposts.next_page %>
$('#infinite-scrolling .pagination').remove();
<% end %>

