<style>
	.info{
		word-wrap: break-word;
		text-align:left;
		color:white;
	}
	.whiteee{
		color:white;
	}
	h2,h4{
		color:white;
	}
  #Reloaded-terms{
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5px;
    margin-right:5px;
    font-family: Verdana, Arial, Helvetica, Courier, sans-serif;
    color: white;
    padding:10px;

    width:97%;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-left: 2px lime solid;
    border-right: 2px lime solid;
    border-bottom: 2px lime solid;
    border-top: 2px lime solid;
    font-size:12px;
    line-height: 1.3;
    text-align:left;

    box-shadow:1px 1px 1px black;
    word-wrap: break-word;
  }

</style>
<div class="messages middle-box text-center animated">

<div>

  <div id="Reloaded-termsa">
    <h4 class="whiteee">Term and Conditions of Use</h4>
    Cookies on the Reloaded website. We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies on the Reloaded website. However, if you would like to, you can change your cookie settings at any time.
  </div>
  <br />
  <div id="Reloaded-termas">
    <h4 class="whiteee">Privacy Policy</h4>
    Cookies on the Reloaded website. We use cookies to ensure that we give you the best experience on our website.
  </div>
  <br />
    <br>
    <div id="Reloaded-termsa">
      <h4 class="whiteee">Cookies</h4>
        Cookies on the Reloaded website. We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies on the Reloaded website. However, if you would like to, you can change your cookie settings at any time.
    </div>
    <br />
</div>