<% @title =d4x_sanitizer(t('change group settings')) %>
<div id="big-card">
		<div id="big-card-title">
			<div id="evo-card-icon">
				<%= link_to image_tag("arrow_left.png", :border =>0,  :title => t("back") ), exploits_path %>
			</div>
			<div id="d4x-title-evo">
					<%= d4x_sanitizer(t('change group settings')) %>
			</div>
		</div>
		<div id="center-container">
		<br><br>
		<%= render 'form' %>
		</div>
		<div id="paginator"></div>
</div>
