<% @title = d4x_sanitizer(t('creating new group')) %>
<div id="big-card">
	<div id="big-card-title">
		<div id="evo-card-icon">
			<%= link_to image_tag("arrow_left.png", :border =>0,  :title => d4x_sanitizer(t("back")) ), groups_path %>
		</div>
		<div id="d4x-title-evo">
			<%= d4x_sanitizer(t('creating new group')) %>	
		</div>
	</div>
	<div id="center-container">	
		<%= render 'form' %>
	</div>
	<div id="paginator"></div>
</div>