<div class="dropdown-header"><%= t('connections') %></div>
<div class="listview listview--hover">
    <a href="#" class="listview__item">
        <img src="/demo/img/profile-pics/1.jpg" class="listview__img" alt="">
      <div class="listview__content">
        <div class="listview__heading">Mario Rossi</div>
        <p><%= t('online')%></p>
      </div>
    </a>
</div>