<% @title =t('editing invitation') %>
<div id="text-content">
		<h2><%= t('editing invitaiton') %></h2>
		<%= render 'form' %>
		<%= link_to t('Show'), @invitation %> |
		<%= link_to t('Back'), invitations_path %>
</div>
