<% @title =t('new type of quote') %>
<div id="big-card">
	<div id="big-card-title">
		<div id="evo-card-icon">
			<%= link_to image_tag("arrow_left.png", :border =>0,  :title => t("back") ), quote_types_path %>
		</div>
		<div id="d4x-title-evo">
			<%= t('add new type of quote') %>	
		</div>
	</div>
	<div id="center-container">	
		<%= render 'form' %>
	</div>
	<div id="paginator"></div>
</div>