<% @title = d4x_sanitizer(t('configure your uberbox')) %>
<div class="big-card">
	<div id="big-card-title">
			<div id="evo-card-icon">

			</div>
			<div id="d4x-title-evo">
				<%= d4x_sanitizer(t('congratulations, you can now configure your uberbox')) %>	
			</div>
	</div>			  
	<br>
</div>
